<?php
$host = "testhost";
$user = "testuser";
$pass = "testpass";
$dbname = "testdatabase";

$conn = new mysqli($host, $user, $pass, $dbname);

if ($conn->connect_error) {
    die("Connect Error: " . $conn->connect_error);
}

?>